{% extends "info/header_footer.html" %}
{% block content %}


<main>
            
            <article>
                
                
                
                
                <!-- ###### "O nas" ###### -->
                <section>
                    
                    <header>
                        
                        <div class="SectionHeader" >
                            
                           <div id="Onas">O nas</div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                    </header>
                    
                    <article>
                        
                        <div class="MainSectionTop">
                            
                       <h2 class="OnasText">
                       Towarzystwo Studentów Polskich jest niezależną organizacją zrzeszająca studentów, 
                       uczniów i młodych absolwentów szkół wyższych. Stanowimy platformę dla przedstawicieli
                       wszelkich poglądów konsekwentnie prawicowych, których wiara we własne wartości jest 
                       silna.
                       
                       <br/><br/>
                       Chcemy uniwersytetów i szkół wolnych od lewicowo-liberalnych kłamstw, marksizmu
                       oraz marnowania potencjału młodego pokolenia Polaków. Dążymy do aktywizacji środowisk
                       studencko-uczniowskich w celu pracy o lepsze jutro dla Polski.
                       <br/><br/>
                       Zapraszamy osoby o 
                       poglądach antyliberalnych, katolickich, konserwatywnych, nacjonalistycznych, 
                       propaństwowych, reakcyjnych, tradycjonalistycznych, wolnościowych itp. Jesteśmy 
                       otwarci na współpracę z innymi organizacjami o charakterze prawicowym. 
                       </h2>
                            
                        </div>
                        
                           <div class="LesserSectionBottom">

                             
                               
                               <div class="socialdivs">   
                               
                               <div class="fb">                                
                                <div class="LogoTopLine"></div>   
                                <a class="LinkMedia" href="https://www.facebook.com/towstudpolpolpol/" target="blank">                                 
                                   <i class="icon-facebook"></i>
                                </a>   
                                
                               </div>
                               <div class="yt">
                                <div class="LogoTopLine"></div>
                                <a class="LinkMedia" href="https://www.youtube.com/channel/UCxhSQrkYjD8X-sd7ZDSDr7Q" target="blank"> 
                                   <i class="icon-youtube"></i>
                                </a>
                               </div>
                               
                               <div class="tw">
                                 <div class="LogoTopLine"></div>
                                 <a class="LinkMedia" href="https://twitter.com/akcjastudencka" target="blank"> 
                                   <i class="icon-twitter"></i>
                                 </a>
                               </div>
                               
                               <div class="insta">
                                 <div class="LogoTopLine"></div>
                                 <a class="LinkMedia" href="https://www.instagram.com/towstudentpol/?hl=pl&fbclid=IwAR1TaCffUwBhT-SlofZ7GBg0yzDz6BFw1sLZzruDrZ2lQCjj6gQ_PcY4i8M" target="blank"> 
                                   <i class="icon-instagram"></i>
                                 </a>  
                               </div>

                               <div style="clear: both;"> </div>

                               </div>

                               <div style="clear: both;"> </div>

                           </div>

                           
                            

                    </article>
                        
                    
                 
                </section>
                
                
            </article>
            
        </main>


{% endblock %}
