<!DOCTYPE html>

<html>
    <head>
      
        <title>Towarzystwo Studentów Polskich</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Jesteśmy apolityczną i niezależną 
              organizacją zrzeszającą studentów, uczniów szkół średnich,
              doktorantów i młodych absolwentów."/>
        <meta name="keywords" content="stowarzyszenie, prawica, organizacja, studenci, prawicowe, media"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS stylesheet-->
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <link rel="stylesheet" href="css/fontello.css" type="text/css"/>
        
        <!-- Google Fonts links-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
        
        <!--  Scrolling jquery function-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
        <script src="jquery.scrollTo.min.js"></script>
        
        
        
        <script>
            
            //Scrolling articles
            var Correction = 200;
            var ScrollSpeed = 1000;
            
            //link1
            $(document).ready(function()
            {
                $('#linkA1').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#linkA1section').offset().top - Correction
                }, ScrollSpeed);
                });
                
            }); 
            
            //link2
            $(document).ready(function()
            {
                $('#linkA2').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#linkA2section').offset().top - Correction
                }, ScrollSpeed);
                });
                
            });
            
            //link3
            $(document).ready(function()
            {
                $('#linkA3').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#linkA2section').offset().top - Correction
                },ScrollSpeed);
                });
                
            });
            
            //link4
            $(document).ready(function()
            {
                $('#linkA4').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#linkA3section').offset().top - Correction
                },ScrollSpeed);
                });
                
            });
            
            //link5
            $(document).ready(function()
            {
                $('#linkA5').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#linkA4section').offset().top - Correction
                },ScrollSpeed);
                });
                
            });
            
            //link6
            $(document).ready(function()
            {
                $('#linkA6').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#linkA5section').offset().top - Correction
                },ScrollSpeed);
                });
                
            });
            
            //link1
            $(document).ready(function()
            {
                $('#linkA1').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#linkA6section').offset().top - Correction
                },ScrollSpeed);
                });
                
            });
        
        </script>
        
        
        
         <!-- Stick navigation menu script -->
        <script src="jquery-1.11.3.min.js"></script>
	
        <script>

            $(document).ready(function() {
            var NavY = $('.nav').offset().top;

            var stickyNav = function(){
            var ScrollY = $(window).scrollTop();

            if (ScrollY > NavY) { 
                    $('.nav').addClass('sticky');
            } else {
                    $('.nav').removeClass('sticky'); 
            }
            };

            stickyNav();

            $(window).scroll(function() {
                    stickyNav();
            });
            });

        </script>
        
        
        <script>
            $(document).ready(function() {
                $('.ShowLogin').click(function(){
                  $('.LoginSection').css('display','block');
                  $('.ShowLogin').css('color','#8f2121');
                  $('.ShowLogin').css('font-weight','700');
                });
                
                
            });
            
            $(document).ready(function() {
                $('#XButton').click(function(){
                  $('.LoginSection').css('display','none');
                  $('.ShowLogin').css('color','#fefefe');
                  $('.ShowLogin').css('font-weight','400');
                });                
                      
            });
            
            
            /* Main Article Lists showing   */
            
            $(document).ready(function() {
                $('#LButton1').click(function(){
                    
                    if($('#LButton1 > i').hasClass('icon-down-circled'))
                    {
                      $('#LButton1').css('color','#8f2121');
                  $('#LList1').css('display','block');
                  $('#LButton1 > i').addClass('icon-up-circled');
                  $('#LButton1 > i').removeClass('icon-down-circled');
                             
                    }
                    else
                    {
                       $('#LButton1').css('color','#fefefe');
                  $('#LList1').css('display','none');
                  $('#LButton1 > i').addClass('icon-down-circled');
                  $('#LButton1 > i').removeClass('icon-up-circled');
                    }
                    
                });       
                      
            });
            
            
            $(document).ready(function() {
                $('#LButton2').click(function(){
                    
                    if($('#LButton2 > i').hasClass('icon-down-circled'))
                    {
                      $('#LButton2').css('color','#8f2121');
                  $('#LList2').css('display','block');
                  $('#LButton2 > i').addClass('icon-up-circled');
                  $('#LButton2 > i').removeClass('icon-down-circled');
                             
                    }
                    else
                    {
                       $('#LButton2').css('color','#fefefe');
                  $('#LList2').css('display','none');
                  $('#LButton2 > i').addClass('icon-down-circled');
                  $('#LButton2 > i').removeClass('icon-up-circled');
                    }
                    
                });       
                      
            });
            
            
            $(document).ready(function() {
                $('#LButton3').click(function(){
                    
                    if($('#LButton3 > i').hasClass('icon-down-circled'))
                    {
                      $('#LButton3').css('color','#8f2121');
                  $('#LList3').css('display','block');
                  $('#LButton3 > i').addClass('icon-up-circled');
                  $('#LButton3 > i').removeClass('icon-down-circled');
                             
                    }
                    else
                    {
                       $('#LButton3').css('color','#fefefe');
                  $('#LList3').css('display','none');
                  $('#LButton3 > i').addClass('icon-down-circled');
                  $('#LButton3 > i').removeClass('icon-up-circled');
                    }
                    
                });       
                      
            });
            
          
   
        </script>
    
       
               
        
        
        
        <!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
        
    </head>
    
    
    <body>
        
                        

        
        <header>
            
            <nav>
                
                <div class="nav">                                     
                    <div class="navigation">  
                    
                    
                        <div class="Logo"> 
                            <img src="img/kon.png" alt="logo"/>
                        </div>

                        <div class="MenuButtons">

                         <ol>                   
                           <li><a id="link1" href="#">O nas</a></li>   
                           <li><a id="link2" href="#">Artykuły</a></li>                     
                           <li><a id="link3" href="#">Aktualności</a></li>   
                           <li><a id="link4" href="#">Kontakt</a></li>
                        </ol>

                       </div>

                    </div>                   
                        <div style="clear: both;" class="StickyLine"></div>                     
                </div>
                
            </nav>
                 
        </header>
        
        
        <div class="container">
            
        <main>
            
            
                
                <header>
                        
                        <div class="SectionHeader" >
                            
                           <div style="text-align: center">Artykuły</div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                </header>
            
            <nav>
                <div class="MainSectionBottom">
                    
                    <div id="ContentTable">
            
                        <ol class="chapters">
                            
                            <li> <div class="MainList">                                  
                                    Maj - Sierpień 2020
                                    <button class="ScrollDown" id="LButton1" ><i class="icon-down-circled"></i></button>
                                 </div>
                                
                                <ul id="LList1">
                                    <li> <a id="linkA1" href="#"> Ciekawy artykuł 1</a></li>
                                    <li> <a id="linkA2" href="#"> Ciekawy artykuł 2 </a></li>                                    
                                </ul>

                            </li>
                            <li> <div class="MainList">
                                    Styczeń - Kwiecień 2020
                                    <button class="ScrollDown" id="LButton2" ><i class="icon-down-circled"></i></button>
                                 </div>
                                
                                <ul id="LList2">
                                    <li> <a id="linkA3" href="#"> Ciekawy artykuł 3 </a></li>
                                    <li> <a id="linkA4" href="#"> Ciekawy artykuł 4 </a></li>                                    
                                </ul>

                            </li>
                            <li> <div class="MainList"> 
                                    Wrzesień - Grudzień 2019
                                    <button class="ScrollDown" id="LButton3" ><i class="icon-down-circled"></i></button>
                                 </div>
                                
                                <ul id="LList3">
                                    <li> <a id="linkA5" href="#"> Ciekawy artykuł 5 </a></li>
                                    <li> <a id="linkA6" href="#"> Ciekawy artykuł 6 </a></li>      
                                </ul>

                            </li>
                            
                        </ol>
                    </div>
                    
                </div>
                
            </nav>
            
            
            
            <article>
                
                
                <section>
                    <div>
                        <header>
                        
                            <div class="SectionHeader" >

                               <div style="text-align: center">Maj - Sierpień 2020</div>
                               <div class="StickyLine2"></div>

                            </div>
                        
                        </header>
                        
                        <article>
                            
                            <div class="MainSectionBottom">
                                
                                <div class="Article" id="linkA1section">
                                    <div class="ArticleDate">27.07.2020</div>
                                    <div class="ArticleTitle">Ciekawy Artykuł 1</div>
                                    
                                    <div style="clear: both;"></div>
                                    
                                    <div class="ArticleIMG">
                                        <img src="#" alt="photo"/>
                                    </div>
                                    <div class="ArticleText">                                        
                                        
                                           <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget porttitor urna. Aenean ornare, 
                                           est quis posuere fringilla, metus libero mattis diam, nec ultrices ante sapien non justo. Duis consequat
                                           </p>
                                           
                                           <p>
                                           lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                           Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                           rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                           justo finibus feugiat.
                                           </p>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            
                            <div class="MainSectionBottom">
                                
                                <div class="Article" id="linkA2section">
                                    <div class="ArticleDate">16.05.2020</div>
                                    <div class="ArticleTitle">Ciekawy Artykuł 2</div>
                                    
                                    <div style="clear: both;"></div>
                                    
                                    <div class="ArticleIMG">
                                        <img src="#" alt="photo"/>
                                    </div>
                                    <div class="ArticleText">                                        
                                        
                                           <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget porttitor urna. Aenean ornare, 
                                           est quis posuere fringilla, metus libero mattis diam, nec ultrices ante sapien non justo. Duis consequat
                                           </p>
                                           
                                           <p>
                                           lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                           Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                           rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                           justo finibus feugiat.
                                           </p>
                                           
                                           <p>
                                           lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                           Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                           rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                           justo finibus feugiat.
                                           </p>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            
                            
                            
                        </article>
                        
                        
                        
                    </div>
                </section>
                
                <section>
                    <div>
                        <header>
                        
                            <div class="SectionHeader">

                               <div style="text-align: center">Styczeń - Kwiecień 2020</div>
                               <div class="StickyLine2"></div>

                            </div>
                        
                        </header>
                        
                        <article>
                            
                            <div class="MainSectionBottom">
                                
                              <div class="Article" id="linkA3section">
                                    <div class="ArticleDate">27.03.2020</div>
                                    <div class="ArticleTitle">Ciekawy Artykuł 1</div>
                                    
                                    <div style="clear: both;"></div>
                                    
                                    <div class="ArticleIMG">
                                        <img src="#" alt="photo"/>
                                    </div>
                                    <div class="ArticleText">                                        
                                        
                                           <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget porttitor urna. Aenean ornare, 
                                           est quis posuere fringilla, metus libero mattis diam, nec ultrices ante sapien non justo. Duis consequat
                                           </p>
                                           
                                           <p>
                                           lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                           Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                           rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                           justo finibus feugiat.
                                           </p>
                                        
                                    </div>
                                    
                                </div>  
                                
                            </div>
                            
                            
                            
                        </article>
                        
                        
                        
                    </div>
                </section>
                
                <section>
                    <div>
                        <header>
                        
                            <div class="SectionHeader" >

                               <div style="text-align: center">Wrzesień - Grudzień 2019</div>
                               <div class="StickyLine2"></div>

                            </div>
                        
                        </header>
                        
                        <article>
                            
                            <div class="MainSectionBottom">
                                
                                <div class="Article" id="linkA5section">
                                    <div class="ArticleDate">27.12.2019</div>
                                    <div class="ArticleTitle">Ciekawy Artykuł 1</div>
                                    
                                    <div style="clear: both;"></div>
                                    
                                    <div class="ArticleIMG">
                                        <img src="#" alt="photo"/>
                                    </div>
                                    <div class="ArticleText">                                        
                                        
                                           <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget porttitor urna. Aenean ornare, 
                                           est quis posuere fringilla, metus libero mattis diam, nec ultrices ante sapien non justo. Duis consequat
                                           </p>
                                           
                                           <p>
                                           lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                           Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                           rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                           justo finibus feugiat.
                                           </p>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            
                            
                        </article>
                        
                        
                        
                    </div>
                </section>
                
                
                
            </article>
            
            
            
        </main>
            
            
            
                <!-- ###### "Login Tile" ###### -->
                            
                <section class="LoginSection">
                    
                    <header>
                        
                        <div class="SectionHeader">
                            
                           <div>Logowanie <button id="XButton"> &#10005;</button></div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                    </header>
                    
                    
                    <article>
                        
                        <div class="LoginSectionTop">
                            
                            <div id="LoginTile">
                             <form>
			
                                <input type="text" placeholder="login" onfocus="this.placeholder=''" onblur="this.placeholder='login'" >

                                <input type="password" placeholder="hasło" onfocus="this.placeholder=''" onblur="this.placeholder='hasło'" >

                                <input type="submit" value="Zaloguj się">
			
                             </form>
                            </div>
                           
                        </div>
                        
                        <div class="LoginSectionBottom">
                        
                            <div class="FAQ">
                                <h2 style="color: #185e94">FAQ</h2>
                                
                                <div class="Question">
                                - Do czego służy logowanie?    
                                </div>
                                <div class="Anwser">
                                Umożliwia ono członkom stowarzyszenia na publikowanie artykułów
                                i aktualizowanie danych na stronie
                                </div>
                                <div class="Question">
                                - W jaki sposób uzyskać możliwość publikowania na stronie? 
                                </div>
                                <div class="Anwser">
                                Możliwość publikacji posiadają jedynie członkowie stowarzyszenia, jeśli
                                jesteś zainteresowany dołączeniem do organizacji skontaktuj się z nami.
                                </div>
                                
                                
                            </div>
                           
                        </div>   
                        
                                                
                    </article>
                    
                </section>
                            
             
            
            
            
            <footer>
                <div class="StickyLine4"></div>
                <div class="footer">
                    2020 Towarzystwo Studentów Polskich &copy; | TowarzystwoStudentów@gmail.com | 
                    <button class="ShowLogin">Dla członków Stowarzyszenia
                    <i class="icon-vcard"></i> </button>
                </div>
            </footer>    
            
        </div>
                     
            
            
        
       
        
    </body>
</html>
