{% extends "info/header_footer.html" %}
{% block content %}


        <main>
            <article>
                <!-- ###### "Kontakt" ###### -->
                <section>
                    
                    <header>
                        
                        <div class="SectionHeader">
                            
                           <div id="Kontakt">Kontakt</div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                    </header>
                    
                    
                    <article>
                        
                        <div class="MainSectionTop">
                            
                            <div class="ContactText">
                                <h3>
                                    Nie ma polityczności bez ludzi. Jesteśmy obecni w całej Polsce. Chcesz 
                                    z nami działać? Odezwiemy się jak najszybciej. Skontaktuj się z nami 
                                    jedną z poniższych dróg.
                                </h3>
                            </div>
                        
                            
                        </div>
                        
                        <div class="LesserSectionBottom">
                        
                           <div class="ContactDataConteiner">
                        
                           <div class="mail">
                               <i class="icon-mail"></i>
                           </div>
                               <div class="SideTile" id="Tile1">
                                   TowarzystwoStudentów@gmail.com
                               </div> 
                            
                           <div style="clear: both"></div>
                           
                           <div class="phone">
                               <i class="icon-phone"></i>
                           </div>
                           
                           <div class="SideTile" id="Tile2">
                               894 356 211
                           </div> 
                            
                           <div style="clear: both"></div>
                           
                           <div class="messenger">
                               <i class="icon-comment"></i>
                           </div>
                           
                           <div class="SideTile" id="Tile3">
                               <a id="ContactLink" href="https://www.facebook.com/towstudpolpolpol/">
                                  Przenieś mnie do Facebooka </a>
                           </div> 
                            
                           <div style="clear: both"></div>
                        
                           </div>
                        </div>   
                        
                                                
                    </article>
                    
                </section>
                
            </article>
            
        </main>


{% endblock %}
