<!DOCTYPE html>

<html>
    <head>
      
        <title>Towarzystwo Studentów Polskich</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Jesteśmy apolityczną i niezależną 
              organizacją zrzeszającą studentów, uczniów szkół średnich,
              doktorantów i młodych absolwentów."/>
        <meta name="keywords" content="stowarzyszenie, prawica, organizacja, studenci, prawicowe, media"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS stylesheet-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'info/css/style.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'info/css/fontello.css' %}" type="text/css"/>
        
        <!-- Google Fonts links-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
        
        <!--  Scrolling jquery function-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
        <script src="{% static 'info/js/jquery.scrollTo.min.js' %}"></script>
        
        <script>
		
		
		//Scrolling articles
            var Correction = 160;
            var ScrollSpeed = 600;
            
           
            
            //link1
            $(document).ready(function()
            {
                
                 
                $('#link1').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#Onas').offset().top - Correction
                }, ScrollSpeed);
                });
                
                $('#link2').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#Artykuly').offset().top - Correction
                }, ScrollSpeed);
                });
                
                $('#link3').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#Aktualnosci').offset().top - Correction
                }, ScrollSpeed);
                });
                
                $('#link4').click(function()
                {
                $('html,body').animate({
                    scrollTop:$('#Kontakt').offset().top - Correction
                }, ScrollSpeed);
                });
                
            }); 
		
	
		
        </script>
        
        
        
         <!-- Stick navigation menu script -->
         {% load static %}
        <script src="{% static 'info/js/jquery-1.11.3.min.js' %}"></script>
	
        <script>

            $(document).ready(function() {
            var NavY = $('.nav').offset().top;

            var stickyNav = function(){
            var ScrollY = $(window).scrollTop();

            if (ScrollY > NavY) { 
                    $('.nav').addClass('sticky');
            } else {
                    $('.nav').removeClass('sticky'); 
            }
            };

            stickyNav();

            $(window).scroll(function() {
                    stickyNav();
            });
            });

        </script>
	    
	<script>
            $(document).ready(function() {
                $('.ShowLogin').click(function(){
                  $('.LoginSection').css('display','block');
                  $('.ShowLogin').css('color','#8f2121');
                  $('.ShowLogin').css('font-weight','700');
                });
		    
		    
	    $(document).ready(function() {
                $('#XButton').click(function(){
                  $('.LoginSection').css('display','none');
                  $('.ShowLogin').css('color','#fefefe');
                  $('.ShowLogin').css('font-weight','400');
                });                
                
            });    
		    
            });
            
        </script>
        
    
        
    </head>
    
    
    <body>
        
                        

        
        <header>
            
            <nav>
                
                <div class="nav">                                     
                    <div class="navigation">  
                    
                    
                        <div class="Logo"> 
                            <img src="{% static 'info/img/kon.png' %}" alt="logo"/>
                        </div>

                        <div class="MenuButtons">

                         <ol>                   
                           <li><a id="link1" href="#">O nas</a></li>   
                           <li><a id="link2" href="#">Artykuły</a></li>                     
                           <li><a id="link3" href="#">Aktualności</a></li>   
                           <li><a id="link4" href="#">Kontakt</a></li>
                        </ol>

                       </div>

                    </div>                   
                        <div style="clear: both;" class="StickyLine"></div>                     
                </div>
                
            </nav>
                 
        </header>
        
        {% block content %}

        {% endblock %}
        
        <div class="container">
            
           <footer>
                <div class="StickyLine4"></div>
                <div class="footer">
                    2020 Towarzystwo Studentów Polskich &copy; | TowarzystwoStudentów@gmail.com | 
                    <button class="ShowLogin">Dla członków Stowarzyszenia
                    <i class="icon-vcard"></i> </button>
                </div>
            </footer>    
            
                  
        </div>
                     
            
            
        
       
        
    </body>
</html>
