{% extends "info/header_footer.html" %}
{% block content %}
<main>
            
            <article>
                
                <header>
                    
                    <div class="introduction">
                    <h1> 
                       Czym byłeś wczoraj? Endekiem? Pepeesowcem? Nic mnie to nie obchodzi.
                       Wiem tylko to, że wczoraj byliśmy słabi, a dziś musimy być mocni. ~ Jan Hoppe  
                    </h1>
                    </div>
                    
                    
                </header>
                
                
                
                <!-- ###### "O nas" ###### -->
                <section>
                    
                    <header>
                        
                        <div class="SectionHeader" >
                            
                           <div id="Onas">O nas</div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                    </header>
                    
                    <article>
                        
                        <div class="MainSectionTop">
                            
                       <h2 class="OnasText">
                       Towarzystwo Studentów Polskich jest niezależną organizacją zrzeszająca studentów, 
                       uczniów i młodych absolwentów szkół wyższych. Stanowimy platformę dla przedstawicieli
                       wszelkich poglądów konsekwentnie prawicowych, których wiara we własne wartości jest 
                       silna.
                       
                       <br/><br/>
                       Chcemy uniwersytetów i szkół wolnych od lewicowo-liberalnych kłamstw, marksizmu
                       oraz marnowania potencjału młodego pokolenia Polaków. Dążymy do aktywizacji środowisk
                       studencko-uczniowskich w celu pracy o lepsze jutro dla Polski.
                       <br/><br/>
                       Zapraszamy osoby o 
                       poglądach antyliberalnych, katolickich, konserwatywnych, nacjonalistycznych, 
                       propaństwowych, reakcyjnych, tradycjonalistycznych, wolnościowych itp. Jesteśmy 
                       otwarci na współpracę z innymi organizacjami o charakterze prawicowym. 
                       </h2>
                            
                        </div>
                        
                           <div class="LesserSectionBottom">

                             
                               
                               <div class="socialdivs">   
                               
                               <div class="fb">                                
                                <div class="LogoTopLine"></div>   
                                <a class="LinkMedia" href="https://www.facebook.com/towstudpolpolpol/" target="blank">                                 
                                   <i class="icon-facebook"></i>
                                </a>   
                                
                               </div>
                               <div class="yt">
                                <div class="LogoTopLine"></div>
                                <a class="LinkMedia" href="https://www.youtube.com/channel/UCxhSQrkYjD8X-sd7ZDSDr7Q" target="blank"> 
                                   <i class="icon-youtube"></i>
                                </a>
                               </div>
                               
                               <div class="tw">
                                 <div class="LogoTopLine"></div>
                                 <a class="LinkMedia" href="https://twitter.com/akcjastudencka" target="blank"> 
                                   <i class="icon-twitter"></i>
                                 </a>
                               </div>
                               
                               <div class="insta">
                                 <div class="LogoTopLine"></div>
                                 <a class="LinkMedia" href="https://www.instagram.com/towstudentpol/?hl=pl&fbclid=IwAR1TaCffUwBhT-SlofZ7GBg0yzDz6BFw1sLZzruDrZ2lQCjj6gQ_PcY4i8M" target="blank"> 
                                   <i class="icon-instagram"></i>
                                 </a>  
                               </div>

                               <div style="clear: both;"> </div>

                               </div>

                               <div style="clear: both;"> </div>

                           </div>

                           
                            

                    </article>
                        
                    
                 
                </section>
                
                
                <!-- ###### "Artkuły" ###### -->
                <section>
                    
                    <header>
                        
                        <div class="SectionHeader">
                            
                           <div id="Artykuly">Artykuły</div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                    </header>
                    
                    
                    <article>
                        
                        <div class="LesserSectionTop">

                           <h2>
                               Nie ma polityczności bez myśli. Publikujemy w tym dziale artykuły, które budują naszą myśl
                               polityczną, aktualną, otwartą i wielonurtową.
                           </h2>

                        </div>
                        
                        <div class="MainSectionBottom">
                            
                            <div class="ArticleBox">
                                
                                <div class="ArticleLogo">
                                    <div class="LogoTopLine"></div>
					
                                    <a href="/articles/" class="LinkMedia">
                                       <i class="icon-doc"></i>
                                    </a>
                                </div>
                                
                                <div class="TextBox">
                                    <h2>Zapraszamy do zobaczenia publikowanych przez nas artykułów.</h2>
                                </div>
                                
                                <div style="clear: both;"></div>
                            </div>
                            
                       
                        </div>
                        
                           
                            

                    </article>
                    
                    
                </section>
                
                
                
                <!-- ###### "Aktualności" ###### -->
                <section>
                    
                    <header>
                        
                        <div class="SectionHeader">
                            
                           <div id="Aktualnosci">Aktualności</div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                    </header>
                    
                    
                    <article>
                        
                        <div class="ContactText">
                                <h3>
                                Nie ma polityczności bez aktywizmu. Jako Towarzystwo Studentów Polskich działamy na 
                                wielu płaszczyznach, nie bojąc się skandali i kontrowersji. Nie wypieramy się naszych 
                                oglądów i działań. Zapoznaj się z nimi. 
                                </h3>
                        </div>
                        
                        <div class="MainSectionTop">
                            {% for post in object_list %}
                               
                                    
                                    <div class="News">
                                    
                                        <div class="TopNews">
                                            <a href="/current/{{post.id}}">{{ post.date|date:"Y-m-d" }}</a>
                                        </div>
                                    
                                        <div class="NewsText">
                                            <h3>
                                                {{post.body}}
                                            </h3> 
                                        </div>
                                    </div>  

                                }        
	                        {% endfor %} 
                        </div>
                        
                        <div class="LesserSectionBottom">
                            
                            <div class="SeeAllArticles">
                                
                                <div class="StickyLine3"></div>
                                <div class="UnderlinedText">
                                    <a href="/current/">Zobacz pełną listę aktualności</a>
                                </div>
                                
                            </div>  
                            
                       
                        </div>
                        
                        

                    </article>
                    
                    
                </section>
                
                
                
                <!-- ###### "Kontakt" ###### -->
                <section>
                    
                    <header>
                        
                        <div class="SectionHeader">
                            
                           <div id="Kontakt">Kontakt</div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                    </header>
                    
                    
                    <article>
                        
                        <div class="MainSectionTop">
                            
                            <div class="ContactText">
                                <h3>
                                    Nie ma polityczności bez ludzi. Jesteśmy obecni w całej Polsce. Chcesz 
                                    z nami działać? Odezwiemy się jak najszybciej. Skontaktuj się z nami 
                                    jedną z poniższych dróg.
                                </h3>
                            </div>
                        
                            
                        </div>
                        
                        <div class="LesserSectionBottom">
                        
                           <div class="ContactDataConteiner">
                        
                           <div class="mail">
                               <i class="icon-mail"></i>
                           </div>
                               <div class="SideTile" id="Tile1">
                                   TowarzystwoStudentów@gmail.com
                               </div> 
                            
                           <div style="clear: both"></div>
                           
                           <div class="phone">
                               <i class="icon-phone"></i>
                           </div>
                           
                           <div class="SideTile" id="Tile2">
                               894 356 211
                           </div> 
                            
                           <div style="clear: both"></div>
                           
                           <div class="messenger">
                               <i class="icon-comment"></i>
                           </div>
                           
                           <div class="SideTile" id="Tile3">
                               <a id="ContactLink" href="https://www.facebook.com/towstudpolpolpol/">
                                  Przenieś mnie do Facebooka </a>
                           </div> 
                            
                           <div style="clear: both"></div>
                        
                           </div>
                        </div>   
                        
                                                
                    </article>
                    
                </section>
                
            </article>
            
        </main>


	<!-- ###### "Login Tile" ###### -->
                            
                <section class="LoginSection">
                    
                    <header>
                        
                        <div class="SectionHeader">
                            
                           <div>Logowanie <button id="XButton"> &#10005;</button></div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                    </header>
                    
                    
                    <article>
                        
                        <div class="LoginSectionTop">
                            
                            <div id="LoginTile">
                             <form>
			
                                <input type="text" placeholder="login" onfocus="this.placeholder=''" onblur="this.placeholder='login'" >

                                <input type="password" placeholder="hasło" onfocus="this.placeholder=''" onblur="this.placeholder='hasło'" >

                                <input type="submit" value="Zaloguj się">
			
                             </form>
                            </div>
                           
                        </div>
                        
                        <div class="LoginSectionBottom">
                        
                            <div class="FAQ">
                                <h2 style="color: #185e94">FAQ</h2>
                                
                                <div class="Question">
                                - Do czego służy logowanie?    
                                </div>
                                <div class="Anwser">
                                Umożliwia ono członkom stowarzyszenia na publikowanie artykułów
                                i aktualizowanie danych na stronie
                                </div>
                                <div class="Question">
                                - W jaki sposób uzyskać możliwość publikowania na stronie? 
                                </div>
                                <div class="Anwser">
                                Możliwość publikacji posiadają jedynie członkowie stowarzyszenia, jeśli
                                jesteś zainteresowany dołączeniem do organizacji skontaktuj się z nami.
                                </div>
                                
                                
                            </div>
                           
                        </div>   
                        
                                                
                    </article>
                    
                </section>

{% endblock %}
