<!DOCTYPE html>

{% extends "info/header_footer.html" %}
{% block content %}


<main>
                       
            
                
                <header>
                        
                        <div class="SectionHeader" >
                            
                           <div style="text-align: center">Aktualności</div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                </header>
            
            <article>
                
                <div class="MainSectionBottom">
                    
                    <section>
                        <div class="NewsDiv">
                            <div class="TopNews">
                                           27.01.2020
                            </div>
                            <div class="NewsText">
                               <h3>Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                   rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante.
                               </h3> 
                            </div>
                        </div>    
                    </section>
                    
                    <section>
                        <div class="NewsDiv">
                            <div class="TopNews">
                                           27.01.2020
                            </div>
                            <div class="NewsText">
                               <h3>Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                   rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante.
                               </h3> 
                            </div>
                        </div>    
                    </section>   
                    
                    <section>
                        <div class="NewsDiv">
                            <div class="TopNews">
                                           27.01.2020
                            </div>
                            <div class="NewsText">
                               <h3>Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                   rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante.
                               </h3> 
                            </div>
                        </div>    
                    </section>   
                    
                    
               
                </div>
                
                
            </article>
            
       
            
        
            
</main>

<!--{% include 'info/smt.html' %}-->
{% endblock %}
