
{% extends "info/header_footer.html" %}
{% block content %}
<main>
                       
            
                
                <header>
                        
                        <div class="SectionHeader" >
                            
                           <div style="text-align: center">Aktualności</div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                </header>
            
            <article>
                
                <div class="MainSectionBottom">
                    {% for post in object_list%}
                        <section>
                            <div class="NewsDiv">
                                <div class="TopNews">
                                    <a href="/current/{{post.id}}">{{ post.date|date:"d.m.Y" }}</a>
                                </div>
                                <div class="NewsText">
                                    <h3>
                                        {{post.body}}
                                    </h3> 
                                </div>
                            </div>    
                        </section>
                    {% endfor %} 
                </div>
                
                
            </article>
            
       
            
        
            
</main>

{% endblock %}
