<!DOCTYPE html>

{% extends "info/header_footer.html" %}
{% block content %}


<main>
            
            
                
                <header>
                        
                        <div class="SectionHeader" >
                            
                           <div style="text-align: center">Artykuły</div>
                           <div class="StickyLine2"></div>
                           
                        </div>
                        
                </header>
            
            <nav>
                <div class="MainSectionBottom">
                    
                    <div id="ContentTable">
            
                        <ol class="chapters">
                            
                            <li> <div class="MainList">                                  
                                    Maj - Sierpień 2020
                                    <button class="ScrollDown" id="LButton1" ><i class="icon-down-circled"></i></button>
                                 </div>
                                
                                <ul id="LList1">
                                    <li> <a id="linkA1" href="#"> Ciekawy artykuł 1</a></li>
                                    <li> <a id="linkA2" href="#"> Ciekawy artykuł 2 </a></li>                                    
                                </ul>

                            </li>
                            <li> <div class="MainList">
                                    Styczeń - Kwiecień 2020
                                    <button class="ScrollDown" id="LButton2" ><i class="icon-down-circled"></i></button>
                                 </div>
                                
                                <ul id="LList2">
                                    <li> <a id="linkA3" href="#"> Ciekawy artykuł 3 </a></li>
                                    <li> <a id="linkA4" href="#"> Ciekawy artykuł 4 </a></li>                                    
                                </ul>

                            </li>
                            <li> <div class="MainList"> 
                                    Wrzesień - Grudzień 2019
                                    <button class="ScrollDown" id="LButton3" ><i class="icon-down-circled"></i></button>
                                 </div>
                                
                                <ul id="LList3">
                                    <li> <a id="linkA5" href="#"> Ciekawy artykuł 5 </a></li>
                                    <li> <a id="linkA6" href="#"> Ciekawy artykuł 6 </a></li>      
                                </ul>

                            </li>
                            
                        </ol>
                    </div>
                    
                </div>
                
            </nav>
            
            
            
            <article>
                
                
                <section>
                    <div>
                        <header>
                        
                            <div class="SectionHeader" >

                               <div style="text-align: center">Maj - Sierpień 2020</div>
                               <div class="StickyLine2"></div>

                            </div>
                        
                        </header>
                        
                        <article>
                            
                            <div class="MainSectionBottom">
                                
                                <div class="Article" id="linkA1section">
                                    <div class="ArticleDate">27.07.2020</div>
                                    <div class="ArticleTitle">Ciekawy Artykuł 1</div>
                                    
                                    <div style="clear: both;"></div>
                                    
                                    <div class="ArticleIMG">
                                        <img src="#" alt="photo"/>
                                    </div>
                                    <div class="ArticleText">                                        
                                        
                                           <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget porttitor urna. Aenean ornare, 
                                           est quis posuere fringilla, metus libero mattis diam, nec ultrices ante sapien non justo. Duis consequat
                                           </p>
                                           
                                           <p>
                                           lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                           Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                           rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                           justo finibus feugiat.
                                           </p>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            
                            <div class="MainSectionBottom">
                                
                                <div class="Article" id="linkA2section">
                                    <div class="ArticleDate">16.05.2020</div>
                                    <div class="ArticleTitle">Ciekawy Artykuł 2</div>
                                    
                                    <div style="clear: both;"></div>
                                    
                                    <div class="ArticleIMG">
                                        <img src="#" alt="photo"/>
                                    </div>
                                    <div class="ArticleText">                                        
                                        
                                           <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget porttitor urna. Aenean ornare, 
                                           est quis posuere fringilla, metus libero mattis diam, nec ultrices ante sapien non justo. Duis consequat
                                           </p>
                                           
                                           <p>
                                           lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                           Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                           rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                           justo finibus feugiat.
                                           </p>
                                           
                                           <p>
                                           lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                           Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                           rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                           justo finibus feugiat.
                                           </p>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            
                            
                            
                        </article>
                        
                        
                        
                    </div>
                </section>
                
                <section>
                    <div>
                        <header>
                        
                            <div class="SectionHeader">

                               <div style="text-align: center">Styczeń - Kwiecień 2020</div>
                               <div class="StickyLine2"></div>

                            </div>
                        
                        </header>
                        
                        <article>
                            
                            <div class="MainSectionBottom">
                                
                              <div class="Article" id="linkA3section">
                                    <div class="ArticleDate">27.03.2020</div>
                                    <div class="ArticleTitle">Ciekawy Artykuł 1</div>
                                    
                                    <div style="clear: both;"></div>
                                    
                                    <div class="ArticleIMG">
                                        <img src="#" alt="photo"/>
                                    </div>
                                    <div class="ArticleText">                                        
                                        
                                           <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget porttitor urna. Aenean ornare, 
                                           est quis posuere fringilla, metus libero mattis diam, nec ultrices ante sapien non justo. Duis consequat
                                           </p>
                                           
                                           <p>
                                           lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                           Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                           rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                           justo finibus feugiat.
                                           </p>
                                        
                                    </div>
                                    
                                </div>  
                                
                            </div>
                            
                            
                            
                        </article>
                        
                        
                        
                    </div>
                </section>
                
                <section>
                    <div>
                        <header>
                        
                            <div class="SectionHeader" >

                               <div style="text-align: center">Wrzesień - Grudzień 2019</div>
                               <div class="StickyLine2"></div>

                            </div>
                        
                        </header>
                        
                        <article>
                            
                            <div class="MainSectionBottom">
                                
                                <div class="Article" id="linkA5section">
                                    <div class="ArticleDate">27.12.2019</div>
                                    <div class="ArticleTitle">Ciekawy Artykuł 1</div>
                                    
                                    <div style="clear: both;"></div>
                                    
                                    <div class="ArticleIMG">
                                        <img src="#" alt="photo"/>
                                    </div>
                                    <div class="ArticleText">                                        
                                        
                                           <p>
                                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget porttitor urna. Aenean ornare, 
                                           est quis posuere fringilla, metus libero mattis diam, nec ultrices ante sapien non justo. Duis consequat
                                           </p>
                                           
                                           <p>
                                           lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                           Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                           rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                           justo finibus feugiat.
                                           </p>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            
                            
                        </article>
                        
                        
                        
                    </div>
                </section>
                
                
                
            </article>
            
            
            
        </main>


{% endblock %}
