{% extends "info/header_footer.html" %}
{% block content %}

<div class="container">
            
        <header id="navigatorPH">
            
            <div class="MainL">
                
                <img src="#" alt="logo"/>
                
            </div>
            <div class="MobileSign">MOBILE VERSION</div>
            
        </header>    



	<div class="News">

		<div class="TopNews">
			<a href="/articles/{{post.id}}">{{ object.title }}</a>
		</div>

		<div class="NewsText">
			<h3>
				{{object.body|safe}}
			</h3> 
			<h3>
				~ {{object.author}}
			</h3>
			<h3>
				Added: {{object.date|date:"Y-m-d"}}
			</h3>
			{% if object.articleimage_set %}
			
				{% for img in object.articleimage_set.all %}
					<h3><img src="{{img.image.url}}" width="{{img.width}}" height="{{img.height}}"/></h3>
				{% endfor %}
			{% endif %}
		</div>
	</div>  
{% endblock %}
