{% extends "info/header_footer.html" %}
{% block content %}
<main>  
    <header>
            
            <div class="SectionHeader" >
                
                <div style="text-align: center">Artykuły</div>
                <div class="StickyLine2"></div>
                
            </div>
            
    </header>
    <nav>
        <div class="MainSectionBottom">
            <div id="ContentTable">
                <ol class="chapters">

                    {% load static %}
                    <script src="{% static 'info/js/javascript_index.js' %}"></script>

                    <li>
                        {% regroup articles by date.month as articles_list %}
                        {% for arts in articles_list %}
                            <div class="MainList">   

                                {{ arts.grouper }}
                                <button class="ScrollDown" id="LButton1" ><i class="icon-down-circled"></i></button>

                            </div>
                            <ul id="LList1">
                            {% for article in arts.list %}
                                
                                <li> <a id="linkA1" href="/articles/{{article.id}}"> {{ article.title }}</a></li>                                  
                                
                            {% endfor %}
                            </ul>
                        {% endfor %}

                        
                        
                    </li>
                </ol>
            </div>   
        </div>
    </nav>



    <article>  
        <section>
            <div>
                <header>
                
                    <div class="SectionHeader" >

                        <div style="text-align: center">Maj - Sierpień 2020</div>
                        <div class="StickyLine2"></div>

                    </div>
                
                </header>
                
                <article>
                    
                    <div class="MainSectionBottom">
                        
                        <div class="Article" id="linkA1section">
                            <div class="ArticleDate">27.07.2020</div>
                            <div class="ArticleTitle">Ciekawy Artykuł 1</div>
                            
                            <div style="clear: both;"></div>
                            
                            <div class="ArticleIMG">
                                <img src="#" alt="photo"/>
                            </div>
                            <div class="ArticleText">                                        
                                
                                <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget porttitor urna. Aenean ornare, 
                                est quis posuere fringilla, metus libero mattis diam, nec ultrices ante sapien non justo. Duis consequat
                                </p>
                                
                                <p>
                                lacus nulla, in viverra metus porttitor eget. Sed convallis nulla velit, sed aliquet erat ullamcorper eu. 
                                Ut non urna id nulla sagittis pellentesque. Curabitur sollicitudin auctor leo, sed ullamcorper lectus 
                                rhoncus eu. Nunc a ex laoreet, accumsan mauris ut, venenatis ante. Aenean tempor neque mi, at ultrices 
                                justo finibus feugiat.
                                </p>

                            </div>
                        </div>
                    </div>  
                </article>
            </div>
        </section>    
    </article>
</main>

{% endblock %}
