{% extends "info/header_footer.html" %}
{% block content %}
	<div class="News">
                        
<section>

        <div class="Article" id="linkA1section">

            <div class="ArticleDate">{{object.date|date:"Y-m-d"}}</div>
            
            <header>
                <div class="ArticleTitle">{{object.title}}</div>
            </header>
            
            <div style="clear: both;"></div>
            
            <article>
                <div class="ArticleIMG">
                    {% for img in object.articleimage_set.all %}
					<img src="{{img.image.url}}" width="{{img.width}}" height="{{img.height}}" alt="photo"/>
				    {% endfor %}
                </div>
                <div class="ArticleText">                                        

                       {{object.body|safe}}

                       <p>{{object.author}}</p>

                </div>
            </article>
        </div>
	</div>  
        </div>

</section>    
                            
                            
    
                        
    
                    
                


<!--{% include 'info/smt.html' %}-->
{% endblock %}
