
{% extends "info/header_footer.html" %}
{% block content %}


                    
                       
                        
<section>

    <div class="MainSectionBottom">
                        
        <div class="Article" id="linkA1section">

            <div class="ArticleDate">{{object.date|date:"d.m.Y"}}</div>
            
            <header>
                <div class="ArticleTitle">{{object.title}}</div>
            </header>
            
            <div style="clear: both;"></div>
            
            <article>
            {% for img in object.articleimage_set.all %}
                {%if forloop.first%}
                    <div class="ArticleIMG">	                
                        <img src="{{img.image.url}}" width="{{img.width}}" height="{{img.height}}" alt="photo"/>                
                    </div>
                    <div class="ArticleText">                                        
                         <p>
                            {{object.body|safe}}
                        </p> 
                    </div>
                {% else %}
                    <div class="ArticleIMG">	                
                        <img src="{{img.image.url}}" width="{{img.width}}" height="{{img.height}}" alt="photo"/>                
                    </div>
                {% endif %}
            {% endfor %}
            </article>
        </div>
    </div>

</section>    
                            
{% endblock %}
