
{% extends "info/header_footer.html" %}
{% block content %}


                    
                       
                        
<section>

    <div class="MainSectionBottom">
                        
        <div class="Article" id="linkA1section">

            <div class="ArticleDate">{{object.date|date:"d.m.Y"}}</div>
            
            <header>
                <div class="ArticleTitle">{{object.title}}</div>
            </header>
            
            <div style="clear: both;"></div>
            
            <article>
            {% if  object.articleimage_set.all%}
                {% for img in object.articleimage_set.all %}
                    {%if forloop.first%}
                        {% if  img.get_ratio_display == "pionowo"%}
                            <div class="Portrait">
                                <img src="{{img.image.url}}"  alt="photo"/>
                            </div>
                        {% elif img.get_ratio_display == "poziome"%}
                            <div class="Landscape">
                                <img src="{{img.image.url}}"  alt="photo"/>
                            </div>
                        {% else %}
                            <div class="Square">
                                <img src="{{img.image.url}}"  alt="photo"/>
                            </div>
                        {% endif %}
                        <div class="ArticleText">                                        
                            <p>
                                {{object.body|safe}}
                            </p> 
                        </div>
                    {% else %}
                        {% if  img.get_ratio_display == "pionowo"%}
                            <div class="Portrait">
                                <img src="{{img.image.url}}"  alt="photo"/>
                            </div>
                        {% elif img.get_ratio_display == "poziome"%}
                            <div class="Landscape">
                                <img src="{{img.image.url}}"  alt="photo"/>
                            </div>
                        {% else %}
                            <div class="Square">
                                <img src="{{img.image.url}}"  alt="photo"/>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="ArticleText">                                        
                         <p>
                            {{object.body|safe}}
                        </p> 
                    </div>
            {% endif %}
            </article>
        </div>
    </div>

</section>    
                            
{% endblock %}
