
/* 
    Created on : 2020-02-29, 16:35:23
    Author     : alexander
*/


/* #################### PHONE DISPLAY #################### */

@media (max-width: 500px) {

    
/* ###### Main Scrolling menu ###### */

.navigation
{
    height: 60px;
    width: 900px;
    
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0b0b;
}

.Logo
{
    float:left;       
    height: 60px;
    width: 60px;
   
}

#MainLogo > img
{
  height: 60px;
  width: 60px;  
}

.MenuButtons
{
    height: 60px;
    width: 820px;
}

.MenuButtons > ol
{
    padding-top: 0;
    margin: 0;
    
    list-style-type: none;
    font-size: 22px;
    font-weight: 700;
    height: 60px;
    width: 720px;
    
    line-height: 200%;
    
    display: inline-block; /*centruje listę*/
    
}

.MenuButtons > ol > li
{
    float: left;
    width: 180px;
    height: 60px;
    
    line-height: 200%;
    
}

/* ###### main content container ###### */

.container
{  
    margin-left: auto;
    margin-right: auto;
    
    width: 300px;
    background-color: green;
}

/* ###### Main Quote ######m*/

.introduction
{
    margin-top: 100px;
    margin-bottom: 0px;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 300px;
    text-align: justify;
    
    line-height: 200%;
    
}

h1
{
    font-size: 17px;
    font-weight: 400;
    
}

.SectionHeader
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    
    font-size: 28px;
    font-weight: 400;
    
    text-align: center;
    
}

/* ###### Tiles design ###### */

.MainSectionTop
{
    padding: 25px;
    background-color: #0e0f0f;
    width: 244px;
    
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-left:  3px solid #0d0e0e ;
    border-right:  3px solid #0d0e0e ;
    
    
    text-align: justify; 
}

.MainSectionBottom
{
    padding: 45px;
    background-color: #0e0f0f;
    width: 204px;
    
    
    margin-left: auto;
    margin-right: auto;
    border-left:  3px solid #0d0e0e ;
    border-right:  3px solid #0d0e0e ;
    
    
    text-align: justify; 
    
    position:relative;
}

.MainSectionBottom:after 
{
    content: '' ;
    display: block;
    width: 300px;
    height: 100px;
    box-shadow: 0 2px 60px rgba(0, 0, 0, .98);
    position: absolute;
    bottom: 0.2%;
    left: 11.5%;
    
    
    z-index: -1;
    
    
}

.LesserSectionBottom
{
   width: 264px;
   background-color: #0b0c0c; 
   padding: 15px;
   
   margin-left: auto;
   margin-right: auto;
   
   border-left:  3px solid #0a0d0d ;
   border-right:  3px solid #0a0d0d ;
   
   position: relative;
}

.LesserSectionBottom:after 
{
    content: '' ;
    display: block;
    width: 200px;
    height: 100px;
    box-shadow: 0 2px 60px rgba(0, 0, 0, .98);
    position: absolute;
    bottom: -0.2%;
    left: 11.5%;
    
    z-index: -1;
    
    
}
    


.LesserSectionTop
{
   width: 294px;
   background-color: #0b0c0c; 
   padding: 30px;
   
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;
   
   border-left:  3px solid #0a0d0d ;
   border-right:  3px solid #0a0d0d ;
   
   text-align: justify; 
}

}




/* #################### PC DISPLAY #################### */

@media (min-width: 501px) {

/* Main menu*/
.navigation
{
    height: 60px;
    width: 900px;
    
    margin-left: auto;
    margin-right: auto;
    background-color: #0a0b0b;
}

.Logo
{
    float:left;       
    height: 60px;
    width: 60px;
   
}

#MainLogo > img
{
  height: 60px;
  width: 60px;  
}

.MenuButtons
{
    height: 60px;
    width: 820px;
}

.MenuButtons > ol
{
    padding-top: 0;
    margin: 0;
    
    list-style-type: none;
    font-size: 22px;
    font-weight: 700;
    height: 60px;
    width: 720px;
    
    line-height: 200%;
    
    display: inline-block; /*centruje listę*/
    
}

.MenuButtons > ol > li
{
    float: left;
    width: 180px;
    height: 60px;
    
    line-height: 200%;
    
}

/* Main menu*/
.container
{  
    margin-left: auto;
    margin-right: auto;
    
    width: 800px;
    background-color: purple;
}

/* Main Quote*/
.introduction
{
    margin-top: 150px;
    margin-bottom: 0px;
    
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    
    width: 820px;
    text-align: justify;
    
    line-height: 200%;
    
}

h1
{
    font-size: 21px;
    font-weight: 400;
    
}

.SectionHeader
{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    
    font-size: 28px;
    font-weight: 400;
    
    text-align: left;
    
}

.MainSectionTop
{
    padding: 25px;
    background-color: #0e0f0f;
    width: 600px;
    
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-left:  3px solid #0d0e0e ;
    border-right:  3px solid #0d0e0e ;
    
    
    text-align: justify; 
}

.MainSectionBottom
{
    padding: 45px;
    background-color: #0e0f0f;
    width: 560px;
    
    
    margin-left: auto;
    margin-right: auto;
    border-left:  3px solid #0d0e0e ;
    border-right:  3px solid #0d0e0e ;
    
    
    text-align: justify; 
    
    position:relative;
}

.MainSectionBottom:after 
{
    content: '' ;
    display: block;
    width: 500px;
    height: 100px;
    box-shadow: 0 2px 60px rgba(0, 0, 0, .98);
    position: absolute;
    bottom: 0.2%;
    left: 11.5%;
    
    
    z-index: -1;
    
    
}

.LesserSectionBottom
{
   width: 620px;
   background-color: #0b0c0c; 
   padding: 15px;
   
   margin-left: auto;
   margin-right: auto;
   
   border-left:  3px solid #0a0d0d ;
   border-right:  3px solid #0a0d0d ;
   
   position: relative;
}

.LesserSectionBottom:after 
{
    content: '' ;
    display: block;
    width: 500px;
    height: 100px;
    box-shadow: 0 2px 60px rgba(0, 0, 0, .98);
    position: absolute;
    bottom: -0.2%;
    left: 11.5%;
    
    z-index: -1;
    
    
}
    


.LesserSectionTop
{
   width: 590px;
   background-color: #0b0c0c; 
   padding: 30px;
   
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;
   
   border-left:  3px solid #0a0d0d ;
   border-right:  3px solid #0a0d0d ;
   
   text-align: justify; 
}


}








body
{
    
    background-color: #171515;
    color: #fefefe;
    margin: 0;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    
    line-height: normal;
}

/* ########### Scrolling Menu ###########*/

.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; 
    
    background-color: #0a0b0b;
        
}

.nav
{
    width: 100%;
    
    padding-top: 7px;
    
    background-color: #0a0b0b;
    text-align: center;
    
}

.MenuButtons > ol > li:hover
{
    background-color: #0e0f0f;
}

ol a
{
    color: #fefefe;
    text-decoration: none;
    display: block;
    
    padding-top: 6px;
    
    transition: all 0.2s ease-in-out;
    
}


.MenuButtons > ol > li:hover > a
{
   color: #8f2121;
   
   
   /*prefixes for older browsers*/
   -webkit-transform: scale(1.25);
   -ms-transform: scale(1.25);
   transform: scale(1.25);
}



.StickyLine
{
    margin-top: 7px;
    width: 100%;
    height: 5px;
    background-color: #751b1b;  
    border-bottom: 1px solid #2b0303 ;
}


/* ########### Main Section ###########*/

.container
{  
    margin-left: auto;
    margin-right: auto;
}

.OnasText
{
    font-size: 24px;
    font-weight: 400;
    color: #fefefe;
    
    text-align: justify;
    
}

h2
{
    font-size: 24px;
    font-weight: 400;
    color: #fefefe;
}

h3
{
    font-size: 20px;
    font-weight: 400;
    color: #fefefe;
    
    padding: 0px;
    margin: 5px;
    
}


.StickyLine2
{
    margin-top: 6px;
    width: 100%;
    height: 4px;
    background-color: #751b1b;  
    border-top: 2px solid #2b0303 ;
}



.ArticleBox
{
   margin-left: auto;
   margin-right: auto;
   width: 600px;
   
   margin-top: 20px;
   margin-bottom: 20px;
}


.TextBox
{
    float: left;
    text-align: left;
    
    height: 106px;
    width: 405px;
    
    background-color: #0b0c0c;
    
    padding-left: 20px;
    padding-right: 15px;
    
    border: 2px solid #0a0d0d ;
    
   
}

/* ### News Section ###*/

.News
{
   margin-left: auto;
   margin-right: auto;
   
   margin-top: 40px;
   
   
}

.TopNews
{
   font-size: 26px;
   font-weight: 400;
   text-align: center;
   margin-right: auto;
   
   width: 200px;
    
   border-left: 5px solid #751b1b; 
}

.NewsText
{
    height: 90px;
    
    text-align: left;
    margin-left: 39px;
      
}

.StickyLine3
{
    margin-top: 15px;
    margin-bottom: 15px;
    
    width: 450px;
    height: 4px;
    background-color: #751b1b;  
    border-top: 1px solid #2b0303 ;
    
    margin-left: auto;
    margin-right: auto;
    
    transition: all 0.2s ease-in;
}

.SeeAllArticles:hover > .StickyLine3
{
    width: 320px;       
}


.UnderlinedText
{
    text-align: center;      
}


.UnderlinedText > a
{
    font-size: 26px;
    font-weight: 400;
    color: #fefefe;
    
    text-decoration: none;
    
    transition: all .2s ease-in-out;
    
   
}

.UnderlinedText:hover > a
{
    color: #bcbcbc; 
    
    
}

.SeeAllArticles
{
    width: 500px;
    
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 10px;
    
}

/* ### Contact section ###*/

.ContactText
{
   margin: 35px 0px; 
   padding: 10px 10px;
   border-left: 5px solid #751b1b;
   
   background-color: #0b0c0c; 
   
}

.mail
{
   background-color: #03060a;
   width: 70px;
   height: 70px;
       
   border-left: 5px solid #751b1b; 
   
   float: left;
   
   
   margin-bottom: 20px;
}

.mail:hover
{
    background-color: #000000;
}

.mail:hover~#Tile1{
    display: block;
}

.phone
{
   background-color: #03060a;
   width: 70px;
   height: 70px;
       
   border-left: 5px solid #751b1b; 
   
   float: left;
   
   margin-bottom: 20px;
}

.phone:hover
{
    background-color: #000000;
}

.phone:hover~#Tile2{
    display: block;
}

.messenger
{
   background-color: #03060a;
   width: 70px;
   height: 70px;
       
   border-left: 5px solid #751b1b; 
   
   float: left;
   
   margin-bottom: 20px;
}

.messenger:hover
{
    background-color: #000000;
}

.messenger:hover~#Tile3{
    display: block;
}

.SideTile
{
    height: 70px;
    width: 400px;
    
    float:left;
    
    background-color: #03060a;
    
    display: none;
    text-align: center;
    line-height: 70px;
    
}

.SideTile:hover
{
    display: block;
}

.ContactDataConteiner
{
    margin-top: 20px;
    margin-left: 10px;
}

#ContactLink
{
    color: #fefefe;
    text-decoration: none; 
}

#ContactLink:hover
{
   color:  #dcdcdc;
}



/* ########### Social Media Divs ###########*/

.socialdivs
{
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 20px;
    margin-bottom: 20px;
    
    color: #fefefe;
}

.insta
{
    margin: 0px 10px;
    background-color: #03060a;
   
    width: 85px;
    height: 90px;
    float:left;
    
    transition: all 0.4s ease-in-out;
}

.insta:hover
{
   background-color: #833AB4;
}

.insta .LinkMedia
{
    color: #fefefe;
    
    transition: all 1s ease-in-out;
}

.insta .LinkMedia:hover
{
    color: black;
}


.fb
{
    margin: 0px 10px;
    background-color: #03060a;
    
    width: 85px;
    height: 90px;
    float:left;
    
    transition: all 0.4s ease-in-out;
}

.fb:hover 
{
   background-color: #4668b3;
   
}

.fb .LinkMedia
{
    color: #fefefe;
    
    transition: all 1s ease-in-out;
}

.fb .LinkMedia:hover
{
    color: black;
}




.yt
{
    margin: 0px 10px;
    background-color: #03060a;
    
    width: 85px;
    height: 90px;
    float:left;
    
    transition: all 0.4s ease-in-out;
}

.yt:hover
{
   background-color: #d94348;
}

.yt .LinkMedia
{
    color: #fefefe;
    
    transition: all 1s ease-in-out;
}

.yt .LinkMedia:hover
{
    color: black;
}

.tw
{
    margin: 0px 10px;
    background-color: #03060a;
    
    width: 85px;
    height: 90px;
    float:left;
    
    transition: all 0.4s ease-in-out;
}

.tw:hover
{
   background-color: #309bd3;
}

.tw .LinkMedia
{
    color: #fefefe;
    
    transition: all 1s ease-in-out;
}

.tw .LinkMedia:hover
{
    color: black;
}

.ArticleLogo
{
    margin-right: 20px;
    background-color: #03060a;
    
    width: 105px;
    height: 110px;
    float:left;
    
    transition: all 0.3s ease-in-out;
}

.ArticleLogo:hover
{ 
   background-color: #3b730b;
}

.ArticleLogo .LinkMedia
{
    color: #fefefe;
    transition: color 0.5s ease-in-out;
}

.ArticleLogo .LinkMedia:hover
{
    color: #03060a;
}

.LogoTopLine
{
    
    margin-bottom: 0px;
    width: 100%;
    height: 4px;
    background-color: #751b1b;  
    border-top:  1px solid #2b0303 ;
    
    
}

a.LinkMedia
{
    display: block;
    width: 85px;
    height: 90px;
    
    color: #fefefe;
    text-decoration: none;
}

/* ###### footer ######*/

.footer
{
    font-size: 16px;
    padding: 3px;
    background-color: #0a0b0b;
    text-align: center;
    line-height: 30px;
    
    height: 30px;
    width: 100%
      
}

.StickyLine4
{
    margin-top: 70px;
    
    
    width: 100%;
    height: 4px;
    background-color: #751b1b;  
    border-top: 1px solid #2b0303 ;
    
    
}

.ShowLogin
{
    cursor: pointer;
    
    color: #fefefe;
    font-size: 16px;
    background-color:  #0a0b0b ;
    border-style: none;   
}


/* ###### login menu ######*/

.LoginSection
{
    display: none;
}

.LoginSectionTop
{
    padding: 25px;
    background-color: #0e0f0f;
    width: 600px;
    
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-left:  3px solid #0d0e0e ;
    border-right:  3px solid #0d0e0e ;
    
    
    text-align: justify; 
}

.LoginSectionBottom
{
   width: 620px;
   background-color: #0b0c0c; 
   padding: 15px;
   
   margin-left: auto;
   margin-right: auto;
   
   border-left:  3px solid #0a0d0d ;
   border-right:  3px solid #0a0d0d ;
   
   position: relative;
}

.LoginSectionBottom:after 
{
    content: '' ;
    display: block;
    width: 500px;
    height: 100px;
    box-shadow: 0 2px 60px rgba(0, 0, 0, .98);
    position: absolute;
    bottom: 0.3%;
    left: 11.5%;
    
    z-index: -1;
    
    
}

#LoginTile
{
    background-color: #03060a;
    width: 300px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    
    border-top: 5px solid #751b1b ;
    
    -webkit-box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.95);
    -moz-box-shadow: 3px 3px 30px 5px rgba(0, 0, 0 , 0.95);
    box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.95);
    
}

input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	border: 2px solid #4c841c;
	background-color: #e9f3e9;
	color: #555555;
}


input[type=submit]
{
	width: 300px;
	background-color: #3b730b;
	font-size:20px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover
{
	background-color: #4c841c;
}

.FAQ
{
    /* width: 300px; */
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    
       
}

.Question
{
    color: #185e94;
    margin: 5px 0;   
}

.Anwser
{
    color: #fefefe;
    margin-left: 10px;
}

#XButton
{
   margin: 0 10px;
   border-style: none;
   background-color: #171515;
   font-size: 23px;
   color: #fefefe;
   
   transition: all 0.2s ease-in-out;
}

#XButton:hover
{
    color: #8f2121;
    transform: scale(1.5);
    
}



/* ########## Articles.html style ########## */


/* Content Table style */

#ContentTable
{
    width: 600px;
    padding-left: 0px;
    margin-left: auto;
    
    text-align: left;
}

.MainList
{
    border-left: 5px solid #751b1b ;
    padding-left: 10px;
}

ol.chapters
{
   margin-top: 5px;
   list-style-type: none ;
   
   
}


ol.chapters > li
{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 2px;
}

ol.chapters > li > ul
{
    font-size: 20px;
    text-transform: none;
    font-weight: 400;
    padding: 0px;
    letter-spacing: 0px;
    
    margin-top: 5px;
    margin-left: 15px;
    
    list-style-type: none;
    
    display: none;
}

ol > li > ul > li
{
    margin: 0px;    
}

.ScrollDown
{
    border: none;
    background-color: #0e0f0f;
    color: #fefefe;
    transition: all 0.2s ease-in-out;
}

.ScrollDown:hover
{
    color: #8f2121;
    transform: scale(1.10);
}

/* Article Style */


.Article
{
    margin-bottom: 60px;
}

.ArticleDate
{
   margin-left: auto;
   padding-right: 20px;
   
   text-align: center;
   
   
   width: 120px;

   
   font-size: 22px;
   font-weight: 400;
   
   float: left;
}

.ArticleTitle
{
   
   
   text-align: center;
   
   font-size: 22px;
   font-weight: 400;
   
   float: left;  
}

.ArticleIMG
{
   
    margin: 20px 0;
   
    
    width: 550px;
    height: 150px;   
    

    
    margin-right: auto;
    margin-left: auto;
       
}

.ArticleIMG > img
{
    width: 550px;
    height: 150px;   
    
}

.ArticleText
{
   
   margin-left: auto;
   margin-right: auto;
   
   text-align: justify;
}


/* ########## News.html style ########## */

.NewsDiv
{
    margin: 30px 0;
}